*pyc
*swp
_Old/*
lcddriver.py
i2c_lib.py
*.log
*.o
*.so
lcd_script_at_network_startup.txt
.vscode
test*
lcd.dmp
lcd_write
rust/target/*
Cargo.lock
c/c.dump
rust/rust.dump
rust/main.new
simple_lcd
target
.deps
.libs
*.so
*.la
*.lo
simple_lcdpp
simple_lcd
autom4te.cache
config.status
libtool
stamp-h1
*tgz
.DS_Store
*AppleDouble*
*swo
*dSYM
*gz
*tar
ccomp/Makefile
ccomp/autom4te.cache
ccomp/config.status
ccomp/src/.deps/*
ccomp/include/config.h
ccomp/libtool
ccomp/include/config.h.in~
ccomp/include/stamp-h1
ccomp/files
